.container{
    display: flex;
    flex-direction: row;
    padding: 10%;
    border: none;
    border-style: ridge;
    gap: 2em;
    background-color: white;
}


.card-01-grid{ 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%; 
    background-color: white;
    background-color: white;
    padding: 0.5em;
    border: 0.2em rgb(179, 177, 177);
    border-style: solid;
    border-radius: 0.4em;
    grid-template-areas: 
        "id-picture-1"
        "name"
        "content"
        "text"
        "button-container";  
}


.card-02-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%; 
    background-color: white;
    padding: 0.5em;
    margin: none;
    border: 0.2em rgb(179, 177, 177);
    border-style: solid;
    border-radius: 0.4em;
    grid-template-areas: 
        "id-picture-2"
        "name"
        "content"
        "text"
        "button-container";  
}


.id-picture-1{
    grid-column: 4 ;
    grid-row: 1 /span 2;  
    margin-top: 5%;
    margin-right: 5%; 
}


.img-id{
    height: 100%;
    width: 100%;
    border: none;
}


.id-picture-2{
    grid-column: 4 ;
    grid-row: 1 /span 2;
    margin-top: 5%;
    margin-right: 5%;    
}


#name{
    grid-column: 1 /span 3;
    grid-row: 1;
    text-align: left;
    margin-top: 0.1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
}


.name{
    grid-column: 1 /span 3;
    grid-row: 1;
    text-align: left;
    margin-top: 0.1em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
}


.content{
    grid-column: 1 /span 3;
    grid-row: 2;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(179, 177, 177);
}


.text{
    grid-column: 1 /span 4;
    grid-row: 3 /span 4;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(31, 29, 29);
}


.button-container{
    grid-column: 1 /span 4;
    grid-row: 5;
    margin:auto;
    position: relative;
    padding:none;
}


.btn-1{
     background-color: white;
     color: rgb(0, 255, 64);
     padding: 0.8em 5em;
     margin: -0.2em;
     border: 0.2em solid rgb(0, 255, 64);
     border-top-left-radius: 0.4em;
     border-bottom-left-radius: 0.4em;
     cursor: pointer;
}


.btn-2{
    background-color: white;
    color: red;
    padding: 0.8em 5em;
    margin: -0.2em;
    border: 0.2em solid red;
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    outline: none;
    cursor: pointer;  
}


.btn-1:hover{
    color: black;
    background-color:rgb(0, 255, 64);
}


.btn-2:hover{
    color: black;
    background-color:red;
}


.btn-1:not(:last-child){
    border-right: none;
}



@media (max-width: 1100px){

    .content{
        grid-column: 1 /span 3;
        grid-row: 2;
        text-align: left;
        margin-top: 2em;
        margin-bottom: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        color: rgb(179, 177, 177);
    }
}


@media (max-width:1055px){

    .btn-1{
        background-color: white;
        color: rgb(0, 255, 64);
        padding: 0.8em 2em;
        margin: -0.2em;
        border: 0.2em solid rgb(0, 255, 64);
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
        cursor: pointer;
   }
   
   
   .btn-2{
       background-color: white;
       color: red;
       padding: 0.8em 2em;
       margin: -0.2em;
       border: 0.2em solid red;
       border-top-right-radius: 0.4em;
       border-bottom-right-radius: 0.4em;
       outline: none;
       cursor: pointer;  
   }
}